.flexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    cursor: pointer;
    align-self: flex-end;
    border-right: 2px solid black;
    padding-right: 20px;
    margin-right: 10px;
}

.totalNum {
    background-color: #0dcaf0;
    color: white;
    height: 22px;
    width: 22px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid none;
    position: absolute;
    top: -14px;
    right: 16px;
    font-size: 12px;
}

.pumpAnimate {
    animation: pumping 300ms ease-out;
}

@keyframes pumping {
    0% {
        transform: scale(1);
    }
    
    20% {
        transform: scale(0.8);
    }

    30% {
        transform: scale(1.1);
    }

    50% {
        transform: scale(1.7);
    }

    100% {
        transform: scale(1);
    }
}